.card {
  background-color: var(--secondary-color);
  width: 80%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  box-shadow: var(--shadow);
  align-items: center;
  color: var(--text-color);
}