.repositories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.repositories-loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.repo-error a {
  padding-left: 5px;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
}

.repo-error a:hover {
  color: white;
  text-decoration: underline;
}

.repo-error i {
  padding-right: 5px;
}

@media only screen and (max-width: 768px) {
  .repositories {
    grid-template-columns: repeat(1, 1fr);
  }
}
